%ul.campaign_nav
  %li= link_to "New campaign", new_campaign_path

%h2 Your campaigns
#campaign-list
  - for campaign in @campaigns
    .campaign-list-entry
      %span.campaign-title= link_to campaign.title, campaign_path(campaign)
      %span.campaign-status= "#{campaign.status.capitalize}"
      %span.campaign-results= "#{campaign.results_in_words}"
      %span.campaign-actions= link_to "Destroy", campaign_path( campaign ), :method => :delete
