%h2 New Campaign


.notice
  %p Size guidelines
  %p Small - ~50 responses
  %p Medium - ~200 responses
  %p Large- ~500 responses

- form_for( @campaign ) do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.label :copy1
    = f.text_field :copy1

  %p
    = f.label :copy2
    = f.text_field :copy2

  %p
    = f.label :size, "Campaign size"
    = f.select :size, [["Small", "small"], ["Medium", "medium"], ["Large", "large"]]

  %p
    = f.submit 'Create campaign'

= link_to "Back to dashboard", dashboard_path