%h2 Viewing your campaign

#campaign_holder
  .campaign_attribute= "#{@campaign.title}"
  .campaign_attribute= "#{@campaign.copy1}"
  .campaign_attribute= "#{@campaign.copy2}"
  .campaign_attribute= "#{@campaign.size}"
  .campaign_attribute= "We will run a #{@campaign.size} size campaign, which will give a response reliablity of p = #{@campaign.projected_p_value}"
  .campaign_attribute= "#{@campaign.campaign_type}"

#campaign_message
  = link_to "Great, schedule my campaign!", schedule_campaign_path( @campaign ) if @campaign.ready?
